* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* rule header */
header {
    background-color: #add8e6;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    width: 350px;
}

.header-box {
    width: 100%;
    background-color: #00008b;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #ee82ee;
    width: 700px;
    height: 200px;
}